<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #staffInfo tr {background-color: #C5B4E3;}
      #mytable tr:hover {background-color:pink;}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #AA336A;
        color: white;
      }
      
</style>
<table id="=mytable">
    <tr>
        <th>Loan Id</th> 
        <th>Loan Type</th>
        <th>Loan Status</th>
        <th>Loan Name</th>
        <th>Loan Purpose</th>
        <th>Related Wallet</th>
        <th>Loan Issue date</th>
        <th>Due Date</th>
        <th>Loan Balance</th>
        <th>Loan Interest Rate</th>
        <th>Loan Guarantors</th>
        <th>View Profile</th>
    </tr>
   <tb> {% for loans in Loan %}</tb>
<tr> 
<td>{{ loans.loan_id}}</td>
<td>{{ loans.loan_type}}</td>
<td>{{ loans.loan_status}}</td>
<td>{{ loans.name}}</td>
<td>{{ loans.purpose_of_the_loan}}</td>
<td>{{ loans.wallet}}</td>
<td>{{ loans.date_issued}}</td>
<td>{{ loans.personal_due_date}}</td>
<td>{{ loans.loan_balance}}</td>
<td>{{ loans.interest_rate}}</td>
<td>{{ loans.guarantor}}</td>
<td><a href ="{%url 'loan_profile' id=loan.id%}">View profile</a></td>3
</tr>
{%endfor%}
</table>