<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #staffInfo tr {background-color: #C5B4E3;}
      #mytable tr:hover {background-color:pink;}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #AA336A;
        color: white;
      }
</style>
<table id="=mytable">
    <tr>
        <th>Loan Id</th> 
        <th>Loan Type</th>
        <th>Loan Status</th>
        <th>Loan Name</th>
        <th>Loan Purpose</th>
        <th>Related Wallet</th>
        <th>Loan Issue date</th>
        <th>Due Date</th>
        <th>Loan Balance</th>
        <th>Loan Interest Rate</th>
        <th>Loan Guarantors</th>
    </tr>
    {% for loan in Loan %}
<tr> 
<td>{{ loan.loan_id}}</td>
<td>{{ loan.loan_type}}</td>
<td>{{ loan.loan_status}}</td>
<td>{{ loan.name}}</td>
<td>{{ loan.purpose_of_the_loan}}</td>
<td>{{ loan.wallet}}</td>
<td>{{ loan.date_issued}}</td>
<td>{{ loan.personal_due_date}}</td>
<td>{{ loan.loan_balance}}</td>
<td>{{ loan.interest_rate}}</td>
<td>{{ loan.guarantor}}</td>
</tr>
{%endfor%}
</table>