<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #staffInfo tr {background-color: #C5B4E3;}
      #mytable tr:hover {background-color:pink;}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #AA336A;
        color: white;
      }
</style>
<table id="mytable">
    <tr>
        <th>Message</th> 
        <th>Title</th>
        <th>Receipient</th>
        <th>Status</th>
        <th>Time Sent</th>
    </tr>
    {% for notification in Notification %} 
<tr> 
<td>{{ notification.description}}</td>
<td>{{ notification.title}}</td>
<td>{{ notification.recipient}}</td>
<td>{{ notification.read_unread_status}}</td>
<td>{{ notification.date_and_time}}</td>
<td><a href ="{%url 'notification_profile' id=notification.id%}">View profile</a></td>

</tr>
{%endfor%}
</table>