<table>
    <th>
        <td>Transaction Code</td> 
        <td>Amount</td>
        <td>Transaction charges</td>
        <td>Transaction time</td>
        <td>Tranferring Account</td>
        <td>Receiving Account</td>
        <td>Receipt</td>
    </th>
   
<tr> {% for transaction in Transaction %}</tr>
<td>{{ transaction.transaction_code}}</td>
<td>{{ transaction.transaction_amount}}</td>
<td>{{ transaction.transaction_charges}}</td>
<td>{{ transaction.transaction_date_time}}</td>
<td>{{ transaction.origin_account}}</td>
<td>{{ transaction.destination_account}}</td>
<td>{{ transaction.receipt}}</td>
{%endfor%}
</table>